<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.hui.boot.mybatis.mapper.MoneyMapper">

    <insert id="save" parameterType="com.example.order.persistence.DO.OrderDO" useGeneratedKeys="true"
            keyProperty="order.id">
        INSERT INTO `order` ( `distance`, `status`) VALUES (#{order.distance}, #{status});
    </insert>

    <insert id="update" parameterType="com.example.order.persistence.DO.OrderDO">
        update order
        set status = #{order.id}
        where id = #{order.id};
    </insert>


</mapper>